#miModal {
    background-color:rgba(4, 13, 40, 0.66);
}
.modal-dialog {
    width: 60%;
}

.modal-header {
    background-color: rgba(49, 91, 241, 0.78) !important;
    height: 50px;
}

.modal-title {
    color: white;
    font-weight: 800 !important;
    font-size: 2rem;
    line-height: 1;
}

.modal-header .close {
    font-size: 5rem;
    font-weight: 800;
    line-height: 0.3;
    color: black;
    opacity: .5;
}
.modal-header .close:hover {
    color: white;
    cursor: pointer;
    opacity: 1;
}
.confirm {
  width: 80% !important;
}
