#chb_ciudad {
    -webkit-appearance: checkbox !important; /*estilo para el checkbox*/
    width: 5rem;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titulo  span {
    color: #000080;
    font-size: 3.5rem;
    font-family: 'Passion One', cursive;
    text-shadow: 2px 2px 2px #ffffff;
}
#div_tienda {
    display: flex;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-around;
    align-items: center;
}
#div_tienda span {
    padding: 0px 1rem;
}
#select_tienda {
    white-space: normal;
    font-weight: bold;
}
#select_tienda, #select_tienda option {
    color: #000080;
    font-size: 1.5rem;
    font-family: 'Vollkorn', serif;
}

.filtrar {
    background-color: #bcbbf7;
    display: flex;
    align-items: center;
}
tbody tr td {
    font-size: 1.1rem !important;
}
#img_exportar:hover {
    cursor: pointer;
}
.nombre_campos th {
    font-size: 1.1rem !important;
    background-color: #004080;
    color: white;
    border: 3px solid white !important;
    text-align: center;
    padding: 0.7rem !important;
}
.nombre_campos th:nth-child(11),.nombre_campos th:nth-child(12) {
    font-size: 0.9rem !important;
}
#fila_filtros input {
    font-size: 1.1rem !important;
    padding: 6px !important;
}
.filtrar {
    display: flex;
}
tbody tr:hover { /*background: #d7d7ff;*/ }
/*categorizacion de boostrap */
.table > thead > tr:nth-child(2) > th  {
    padding: 0.4rem;
}
.form-control {
    padding: 0.3rem 0.5rem;
    height: 2.5rem;
}
.form-control input:nth-child(1) {
    width: 300rem !important;
}
.table > tbody > tr > td {
    padding: 0.2rem 0.3rem;
}
