/*** SELECTORES GENERALES ****/
.collapse, .collapsing  {
  position: absolute;
  z-index: 2;
}
button:hover {
  cursor: pointer;
}
/**** SELECTORES INDEPENDIENTES ****/
html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
.multiples_grupos_opciones {
  flex: 1 1 76%;
  font-size: 0.8em;
}
.cont_sel_boton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.3em 0.7em;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  align-items: center;
  margin-bottom: 0.1em;
  background-color: rgba(252, 249, 255, 1);
  color: black;
}
.multiples_grupos_opciones>.collapse, .multiples_grupos_opciones>.collapsing {
  width: 86% !important;
}
.cont_sel_opcion {
  display: flex;
  width: 100%;
  background-color: white;
}
.cont_familia {
  flex: 0  0  7%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0.3em 0.3em 0em 0.3em;
  margin-right: 0.2em;
  background-color: rgba(77, 11, 150, 0.26);
  border-bottom: 1px solid white;
}
.cont_tallas {
  flex: 1 1 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  /*flex: 1 1 auto;*/
  padding: 0.3em 0.3em 0em 0.3em;
  border-bottom: 1px solid #c8c4be;
  border-right: 1px solid #c8c4be;
  color: gray;
}

#button_llenar_select_multiple:hover {
  cursor: pointer;
}
