/*** SELECTORES GENERALES ****/
.collapse, .collapsing  {
  position: absolute;
}
button:hover {
  cursor: pointer;
}
/**** SELECTORES INDEPENDIENTES ****/
html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
.cont_multiples_opciones {
  /*display: inlin-block !important;*/
  flex: 1 1 40%;
  margin: 0em;
  /*width: 20rem;*/
  font-size: 0.8em;
}
.cont_sel_boton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.3em 0.7em;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  align-items: center;
  margin-bottom: 0.1em;
  background-color: rgba(77, 11, 150, 0.66);
  color: white;
}

#div_sel_opciones.collapse, #div_sel_opciones.collapsing {
    width: 20rem;
    background-color: white;
}

.cont_sel_opcion {
  display: flex;
  justify-content: space-between;
}
.cont_familia {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.3em 0.3em 0em 0.3em;
  margin-right: 0.2em;
  background-color: rgba(77, 11, 150, 0.26);
  border-bottom: 1px solid white;
}
.cont_tallas {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex: 1 1 auto;
  padding: 0.3em 0.3em 0em 0.3em;
  border-bottom: 1px solid #c8c4be;
  border-right: 1px solid #c8c4be;
  color: gray;
}

#button_llenar_select_multiple:hover {
  cursor: pointer;
}
