html, body {
  height: 100% !important;
}
#div_documentos {
  height: 100%;
  align-items: center;
}
#div_documentos>.cont_options {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1rem !important;
  background-color: rgba(3, 41, 97, 0.185);  
}
#div_documentos>.cont_options>* { 
  margin : .3rem; 
  font-size: .8rem;
}
#div_documentos>.cont_options>select{ flex: 0 0 40%; }
#div_documentos>.cont_options>button{ flex: 0 1 15%; }

.cont_hidden {
  display: none !important;
}

#div_documentos>.cont_table {
  flex: 1 0 auto;
  /* background-color: rgba(128, 227, 240, 0.212); */
  width: 100%;
  display: flex;
  justify-content: center;
}
#table_documents {
  border: 1px solid black;
  width: 95%;
}
#table_documents th {
  border: 1px solid white;
  background-color: rgba(3, 65, 116, 0.856);
  color: white;
  text-align: center;
  font-size: .7rem;
  padding: .3rem;
}
#table_documents td {
  border: 1px solid silver;
  color: rgb(2, 17, 66);
  text-align: center;
  padding: .3rem;
  font-size: .6rem;
}
#table_documents td:nth-child(4){
  text-align: left;  
}