body, html {
    height: 100%;
    -webkit-overflow-scrolling: touch; /* para mejorar el desplazamiento en iphone */
    margin: 0px;
    padding: 0px;
}
/* 1. **** VISTA : sku_crear ***/
#div_sku_crear {
    width: 100%;
    height: 100%;
    align-items: center;
    /*background-color: yellow;*/
}
#div_sku_crear>div:nth-child(1){ /*primer div fila que contiene cont_imgs_categorias y cont_config*/
  flex: 0 0 auto; /* para que no tome altura innecesaria, sino solo la que ocupa dado que el otro contenedor de abajo ocupará el resto*/
  justify-content: space-around;
  width: 100%;
  /*background-color: gray;*/
  align-items: cente;
}
/* 1.1 **** CONTENEDOR DE IMAGENES DE CATEGORIAS *****/
.cont_imgs_categorias {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0.2em 0.4em 0em 0.4em;
    flex: 1 1 auto;
}
.cont_config { /*** contenedor a la derecha que contiene una imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
}
.cont_config>div>img {
  max-height: 2rem;
}
.cont_config>div>img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: invert(.8);
  filter: invert(.8);
}
.cont_img_categoria {
    background-color: rgba(5, 88, 68, 0.51);
    text-align: center;
    margin: 0.15rem 0.15rem 0rem 0.15rem;
    padding: 0.3rem 0.2rem 0.3rem 0.2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
    /*width: 4rem;*/
}
.cont_img_categoria:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none !important;
    filter: none !important;
    cursor: pointer;
}
.cont_img_categoria img {
    min-height: 1.5rem;
    max-height: 1.5rem;
    /*width: 70%;*/
    min-width: 2rem;
    max-width: 3rem;
    max-width: 70%;
    border-radius: 5px;
    margin-bottom: 0.2em;
}
.cont_img_categoria span {
    width: 100%;
    font-weight: bold;
    font-size: 65%;
    color: white;
    padding: 0em 0.1em 0em 0.1em;
    text-shadow: 2px 2px 2px #050134;
}
#div_cat_dama { background-color: rgba(218, 11, 17, 0.35); }
#div_cat_hombres { background-color: rgba(9, 39, 117, 0.35); }
#div_cat_lola { background-color: rgba(203, 73, 190, 0.35); }
#div_cat_lolo { background-color: rgba(20, 134, 164, 0.35); }
#div_cat_niña { background-color: rgba(241, 211, 57, 0.35); }
#div_cat_niño { background-color: rgba(74, 224, 66, 0.35); }

/*1.2 **** CONTENEDOR PARA FORMULARIO CREAR SKU ****/
.comp_crear_sku {
    flex: 1 1 auto;
    width: 100%;
    margin: 0px !important;
    padding: 0em !important;
    height: 100%;
    flex-wrap: wrap; /*para que pase a la sigiente linea se se llena*/
}
/*1.2.1/2 */
.comp_crear_sku .container_column {
  align-items: center;
  justify-content: flex-start;
  padding: 1em 1em 1em 0em !important;
}
.comp_crear_sku .container_column:nth-child(2) {
  background-color: rgba(10, 10, 9, 0.40);
  padding-left: 1.5em !important;
}
.cont_fila_crear_sku {
  display: flex;
  flex-wrap: wrap;/* si el equipo es movil, esta propiedad hara que cuando los elementos sobrepazen el ancho total, se puedan desplazar a la siguiente linea */
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1em !important;
}
.cont_fila_crear_sku>#div_codigo_articulo {
  flex: 1 1 65% !important;
  display: flex;
  background-color: white !important;

}
.cont_fila_crear_sku>div {
  display: flex;
  align-items: center;
  flex: 1 1 50%;
  border-radius: .3rem;
}
.cont_fila_crear_sku>div>span {
    flex: 0 1 25% !important;
    text-align: right;
    font-weight: bold;
    font-size: 0.8em;
}
.cont_fila_crear_sku>span {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
  flex: 1 1 25% !important;
  text-align: left;
}
.cont_fila_crear_sku input[type='text'], .cont_fila_crear_sku input[type='number']  {
  flex: 1 1 65%;
  height: 2.3em !important;
  font-size: 0.9em;
  padding: 0.3em !important;
  font-family: "Verdana";
}
.cont_fila_crear_sku>div>input[type='text'], .cont_fila_crear_sku>div>select,
.cont_fila_crear_sku>div>input[type='number'], .cont_fila_crear_sku>div>textarea {
   flex: 1 1 45%;
   height: 2.4em !important;
   font-size: 0.8em;
   padding: 0.3em !important;
   font-family: "Verdana";
}
#txt_sku_prefijo {
  flex: 0 1 30%;
  text-align: right;
  border: 0px;
  font-weight: bold;
  font-size: .9rem;
}
#txt_sku_correlativo {
  flex: 0 1 40%;
  text-align: center;
  border: 0px;
  font-weight: bold;
  font-size: .9rem;
}
/***** PARA QUITAR LAS FELCHAS DE LOS INPUT NUMBER ***/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}/****************************************************/

#txt_sku_sufijo {
  flex: 0 1 30%;
  text-align: left;
  border: 0px;
  font-weight: bold;
  font-size: .9rem;
}
.full_fila {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1em !important;
}
.full_fila>span {
  flex: 0 1 13%;
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
}
.full_fila>div {
  flex: 1 1 90%;
}
.full_fila>div>.btn> {
  line-height: .8rem !important;
  padding: .3rem 1rem !important;
}
.full_fila>div>button>span {
  font-size: 0.8em;
}
.full_fila>div>div>ul>li>a {
  font-size: 0.9em;
}

#div_rel_skus {
  border-radius: 5px;
  border: 1px solid white;
  width: 100%;
  padding: 1rem;
  -webkit-column-rule: white;
  -moz-column-rule: white;
  color: white;
}

.cont_botonera_inf {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 9, 0.90);
  width: 100%;
  padding: 2em !important;
  flex:  1 1 10vh !important;
}
.cont_botonera_inf  button {
  margin: 1em;
  height: 2.3em;
  font-size: 1em;
  font-weight: bold;
  flex: 0 1 20%;
}
.cont_botonera_inf  button:hover { cursor: pointer;}

.d75-25 { justify-content: space-between; }
.d75-25>div:nth-child(1) { flex: 0 0 70%; }
.d75-25>div:nth-child(2) { flex: 0 0 25%; }
.d75-25>div>span{ flex: 0 0 18% !important; }


/********* Mas de MODAL PANEL (modal.css) ************/
#div_crud_relations, #div_crud_relations .header_modal { background-color: rgba(1, 52, 41, 0.61); }
#div_crud_prefix, #div_crud_prefix .header_modal { background-color: rgba(44, 2, 5, 0.61); }
#div_crud_relations .body_modal { background-color: rgb(231, 243, 234); }
#div_crud_prefix .body_modal { background-color: rgb(243, 230, 230); }

/**** ESTILOS PARA EL DROPDOWN EN LA TUERCA CONGIG ****/
.cont_config .dropdown-menu {
  left: -5rem;
  background-color: rgba(6, 16, 105, 0.76) !important;
}
.cont_config .dropdown-menu>a { color: yellow; }
.cont_config .dropdown-menu>a:hover { color: blue; }


/*************** MEDIAS QUERYS SKU_CREAR ******/
@media (max-width: 750px) {

  .comp_crear_sku .container_column {
    padding-bottom: 0em !important;
    padding-top: 0.5em !important;
  }
  .cont_fila_crear_sku>div>span { font-size: 0.55em; }
  .full_fila>span { font-size: 0.55em; }
  .cont_fila_crear_sku>span { font-size: 0.6em; }
  .cont_fila_crear_sku { margin-top: 0.3em !important; }
  .cont_fila_crear_sku input[type='text'], .cont_fila_crear_sku select,
  .cont_fila_crear_sku>div>input[type='text'], .cont_fila_crear_sku>div>select {
    height: 2.5em !important;
    font-size: 0.6em !important;
  }
  .cont_botonera_inf { padding: 0.8em !important; }
  .cont_botonera_inf  button {
    font-size: 0.55em !important;
    height: 2.9em;
    flex: 1 0 25vw !important;
  }
  .cont_img_categoria {
    max-width: 4rem;
  }
}
@media (min-width: 750px) {
    .cont_img_categoria {
      margin: 0.2rem 0.7rem 0rem 0.7rem;
      width: 6rem;
    }
    .cont_img_categoria span { font-size: 100%; }
    .cont_img_categoria img {
        max-width: 50%;
        border-radius: 5px;
        margin-bottom: 0.2em;
        min-height: 3rem;
        max-height: 3rem;
    }
    .cont_config { /*** contenedor a la derecha que contiene una imagen */
      padding-right: 2rem;
    }
    .cont_config>div>img {
      max-height: 3.5rem;
    }
}



/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}
