html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch; /* para mejorar el desplazamiento en iphone */
  margin: 0px;
  padding: 0px;
  /*overflow: hidden;*/
}
.cont_hidden {
    display: none !important;
}
.cont_general {
    height: 100%;
    width: 100%;
    padding-top: 0px !important;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    justify-content: flex-start;
    align-items: center;
}
#div_ventas>.cont_logo {
    width: 100%;
    /* display: flex; */
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    /* -webkit-box-flex:1; */
    -webkit-box-pack: center;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
}
#div_ventas>.cont_logo>select {
    /* -webkit-appearance: menulist-button !important; */
    font-size: 1.2rem;
    width: 45%;
    margin: 0rem 1rem;
    /* flex: 0 1 40%; */
    color: rgb(3, 3, 99);
    color: white;
    font-weight: bold;
    background-color: #004080;
    text-align: center;
}
#div_ventas>.cont_logo>select>option {
    width: 45%;
    background-color: white;
    color: black;
}
#link_update img {
    max-height: 6rem;
    margin: 0rem 1rem;
}
#div_loading_ventas {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div_loading_ventas img {
    width: 15%;
}
/**** ESTILOS PARA EL CALENDARIO ****/
#div_cont_calendario2 {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    width: 100% !important;
    /* background-color: yellow; */
}
#datetimepicker2 {
    flex: 0 0 60% !important;
    display: flex;
    justify-content: center;
}
#datetimepicker2>span {
    background-color: #05a872;
    text-align: center !important;
    /* padding: 0rem !important; */
    padding-left: 2rem;
    padding-right: 3rem;
    color: white;
}

#div_cont_calendario2>#search_sale {
    flex: 0 0 30% !important;
    /* height: 5rem !important; */
    margin-left: 1rem !important;
}

#button_calendar.input-group-addon {
    background-color: transparent;
    width: 3.5rem;
    border-radius: .3rem;
    background-color: rgb(209, 237, 245);
    color: rgb(8, 74, 196);
}
#text_calendar1 {
    background-color: #004080;
    color: white;
    font-size: .8rem;
    width: 100%;
    height: 2rem;
    line-height: 3rem;
    border: 0px;
    padding: 0rem !important;
    text-align: center;
    line-height: 0rem !important;
    /* margin-bottom: .2rem !important; */
    /* margin-top: -.5rem; */
}
#th_x_dia {
    padding: 0rem 0rem 1rem 0rem !important;
}
#datetimepicker1 {
    width: 100%;
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
    #datetimepicker1>button#button_calendar {
    height: 2.5rem;
    width: 7rem;
}

/******* PARA EL DIV DIAS ********/
/* #div_cont_calendario>button{   margin: 0rem .5rem; } */
#datetimepicker1 .bootstrap-datetimepicker-widget ul.list-unstyled{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem !important;
    padding: 0rem !important;
}
#datetimepicker1 .bootstrap-datetimepicker-widget table tr {
    display: flex;
    justify-content: center;
    /* width: 100% !important; */
}

#datetimepicker1 .bootstrap-datetimepicker-widget table thead tr:nth-child(1) {
    margin-bottom: .5rem;
}
#datetimepicker1 .bootstrap-datetimepicker-widget table th.prev, 
#datetimepicker1 .bootstrap-datetimepicker-widget table th.next {
    width: 2.5rem !important;
}   
#datetimepicker1 .bootstrap-datetimepicker-widget table th.prev {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
#datetimepicker1 .bootstrap-datetimepicker-widget table th.next {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
#datetimepicker1 .bootstrap-datetimepicker-widget table th {
    text-align: center;
    border-radius: 0px;
    background-color: rgba(0, 87, 128, 0.747);
    color: #fff;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#datetimepicker1 .bootstrap-datetimepicker-widget table th.dow {
    width: 3.5rem;
    font-size: 1.2rem !important;
    text-align: center !important;
    padding: .3rem !important
}
#datetimepicker1 .bootstrap-datetimepicker-widget table td {
    text-align: center;
    border-radius: 0px;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:blue;
    border: 1px solid rgba(192, 192, 192, 0.418);
}
#datetimepicker1 .bootstrap-datetimepicker-widget table td.day {
    color: rgb(12, 80, 182);
    width: 3.5rem;
}
#datetimepicker1 .bootstrap-datetimepicker-widget table td.old, 
#datetimepicker1 .bootstrap-datetimepicker-widget table td.new
 {
    color: rgba(128, 128, 128, 0.767);
}
#datetimepicker1 .bootstrap-datetimepicker-widget table td.active {
    color: white !important;
    background-color: rgba(0, 87, 128, 0.747) !important;  
}
#datetimepicker1 .bootstrap-datetimepicker-widget table td.today.active {
        color: yellow !important;
        background-color: rgba(0, 87, 128, 0.747) !important;
}
#datetimepicker1 .bootstrap-datetimepicker-widget table th.picker-switch {
    width: 19.5rem !important;
    font-size: 1.5rem !important;
}

#datetimepicker1 .bootstrap-datetimepicker-widget li.picker-switch {
    line-height: 0rem !important;
    margin: .5rem !important;
    padding: 0rem !important;
    border: 0px !important; 
}

#datetimepicker1 .bootstrap-datetimepicker-widget li.picker-switch tr {
    /* background-color: green; */
    width: 24.5rem !important;
    border: 0px !important;
    
}

#datetimepicker1 .bootstrap-datetimepicker-widget li.picker-switch tr td {
    border: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    /* height: 100% !important; */
    line-height: 0rem !important;
    width: 100%;
}

#datetimepicker1 .bootstrap-datetimepicker-widget li.picker-switch tr td a {
    padding: 0rem !important;
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin: 0px !important;
    border: 0px !important;

    /* line-height: 0rem !important;    */
}
#datetimepicker1 .bootstrap-datetimepicker-widget li.picker-switch tr td a span:hover {
    background-color: rgba(0, 87, 128, 0.747) !important;
    color: white !important;
    border-radius: .5rem !important;
    background-color: rgba(0, 87, 128, 0.747) !important;
}
#datetimepicker1 .bootstrap-datetimepicker-widget li.picker-switch tr td a span:before {
    padding: 0rem !important;
    margin: 0px !important;
}
#datetimepicker1 .bootstrap-datetimepicker-widget li.picker-switch tr td a span:after {
    padding: 0rem !important;
    margin: 0px !important;
}

#datetimepicker1 .bootstrap-datetimepicker-widget li.picker-switch tr td a span {
    padding: 0rem !important;
    margin: 0px !important;
    color: white;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    border-radius: .7rem !important;
    background-color: rgba(0, 87, 128, 0.747) !important;
    width: 100%;
    height: 100%;
    overflow-y: hidden !important;
}
/******* PARA EL DIV MESES *****/
#datetimepicker1 .datepicker-months table tbody tr td {
  display: flex;
  width: 24.5rem;
  height: 18rem;
  flex-wrap: wrap;  
}
#datetimepicker1 .datepicker-months table tbody tr td span {
    width: 5rem !important;
    height: 5rem !important;
    /* background-color: rgba(180, 238, 240, 0.719); */
}


/***** PARA LAS HORAS ****/
#datetimepicker1 .timepicker-picker table tr td {
    border: 0px !important;
    margin: .5rem !important;
    /* line-height: 0rem !important; */
} 
#datetimepicker1 .timepicker-picker table tr td.separator {
    width: 2.5rem;
}
#datetimepicker1 .timepicker-picker table td span {
    display: flex !important;
    flex-direction: center !important;
    align-items: center !important;
    justify-content: center;
}
#datetimepicker1 .timepicker-picker table td a span {
    width: 4rem;
    height: 3rem;
    background-color: rgba(0, 87, 128, 0.747) !important;
    color: white;
}

#datetimepicker1 .timepicker-picker table td span.glyphicon {
    margin: 0rem !important;
    padding: 0rem !important;
    line-height: 0rem !important;
}
#datetimepicker1 .timepicker-picker table td span.timepicker-hour,
#datetimepicker1 .timepicker-picker table td span.timepicker-minutes,
#datetimepicker1 .timepicker-picker table td span.timepicker-seconds {
        padding: 0rem !important;
        width: 4rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
} 






/****************************************************************************/




.cont_tabla {
    overflow: hidden !important;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 0px !important;
    padding: 0px;
}
.table-fixed {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 0px !important;
}
.table-fixed thead {
  width: 100%;
  flex: 0 0 auto;
}
.table-fixed tbody {
  overflow-y: auto;
  width: 100%;
  flex: 1 1 auto;
}
.table-fixed tfoot {
    flex: 0 0 auto;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tfoot, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
tbody tr td {
    background-color: white !important; /*solucion al desbordamiento, si tiene un color */
}

.table-fixed tbody td, .table-fixed thead > tr> th, .table-fixed tfoot > tr> td {
  float: left;
  border-bottom-width: 0;
}
.nombre_campos th {
    font-size: 1.2rem !important;
    background-color: #004080;
    color: white;
    border: 1px solid white !important;
    text-align: center;
    height: 5rem;
}
#tr_head_ventas_promotoras th { background-color: #8f2e2e !important; }
#tr_head_busqueda th { background-color: #05a872 !important; }
.nombre_campos th:nth-child(3) { font-size: 1rem !important; }
.nombre_campos th:nth-child(4) { font-size: 0.8rem !important; }
.nombre_campos th:nth-child(-n+2), #tr_head_ventas_promotoras.nombre_campos th:nth-child(5){
    padding-top: 1.2rem !important;
    padding-bottom: 1.1rem !important;
}
.nombre_campos th:nth-child(4) {
    padding: 0.4rem !important;
}

.fila td { font-size: 1.1rem !important; }
.fila_promotoras td { font-size: 1rem !important; }
.fila td, .fila_promotoras td {
    padding: .5rem .5rem .5rem .5rem !important;
}
/* .fila_promotoras td:nth-child(n+3) { font-size: 1rem !important; } */

.fila, .fila_promotoras { text-align: center; }
.fila td:nth-child(2), .fila_promotoras td:nth-child(2) {  text-align: left; }
.pie td:nth-child(n+2) { text-align: center; }
.pie td:nth-child(1) { text-align: right; }
.pie td {
    background-color: #004080;
    border: 1px solid white !important;
    padding: 0.7rem !important;
    color: white;
}
#tr_pie_ventas.pie td, #tr_pie_ventas_promotoras.pie td, #tr_pie_busqueda td { font-size: 1.2rem !important; }
#tr_pie_ventas_promotoras.pie td { background-color: #8f2e2e !important; }
#tr_pie_busqueda td { background-color: #05a872 !important; }

#button_calendar {
    padding: 0 1rem;
    color: white;
    margin-right: .2rem;
}
#button_search {
    padding: 0 1rem;
    color: white;
    margin-left: .2rem;
}

/* #text_calendar {
    border: 0px;
    color: white;
    background-color:#004080;
    text-align: center;
    width: 80%;
    margin-bottom: .2rem;
    padding: 0px !important;
    font-size: .9rem;
} */
/**** large dispositives ***/
@media (min-width: 940px) {
    .table-fixed tbody {
      width: 102%;
    }  
    #div_loading_ventas img {
        width: 5% !important;
        /* background-color: yellow; */
    }
}

