html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch; /* para mejorar el desplazamiento en iphone */
  margin: 0px;
  padding: 0px;
  /*overflow: hidden;*/
}
.cont_hidden {
    display: none !important;
}
.cont_general {
    height: 100%;
    width: 100%;
    padding-top: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}
#div_ventas>.cont_logo {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    /* flex-direction: row !important; */
    justify-content: space-around; 
    align-items: center;
    background-color: rgba(0, 238, 255, 0.082);
}
#div_ventas>.cont_logo>select {
    flex: 0 1 40%;
    color: rgb(3, 3, 99);
    color: white;
    font-weight: bold;
    background-color: #004080;
}
select option{ 
    background: rgb(230, 243, 245);
    color: rgb(2, 27, 59);
}


/*#option_detalle, option.#option_detalle(:checked) { */
#div_loading_ventas {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div_loading_ventas img {
    width: 20%;
}

.cont_tabla {
    overflow: hidden !important;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 0px !important;
    padding: 0px;
}
#link_update img {
    max-height: 6rem;
}
.table-fixed {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*margin: 0px !important;*/
    /*flex: 1 1 auto;*/
}
.table-fixed thead {
  width: 100%;
  flex: 0 0 auto;
}
.table-fixed tbody {
  overflow-y: auto;
  width: 100%;
  flex: 1 1 auto;
}
.table-fixed tfoot {
    flex: 0 0 auto;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tfoot, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
tbody tr td {
    background-color: white !important; /*solucion al desbordamiento, si tiene un color */
}

.table-fixed tbody td, .table-fixed thead > tr> th, .table-fixed tfoot > tr> td {
  float: left;
  border-bottom-width: 0;
}
.nombre_campos th {
    font-size: 1.2rem !important;
    background-color: #004080;
    color: white;
    border: 1px solid white !important;
    text-align: center;
    padding: 0.7rem !important;
}
#tr_head_ventas_promotoras th { background-color: #8f2e2efa !important; }
.nombre_campos th:nth-child(3), .nombre_campos th:nth-child(4) { font-size: 0.95rem !important; }
.nombre_campos th:nth-child(-n+2), #tr_head_ventas_promotoras.nombre_campos th:nth-child(5){
    padding-top: 1.2rem !important;
    padding-bottom: 1.1rem !important;
}
.fila td { font-size: 1.2rem !important; }
.fila_promotoras td { font-size: 1rem !important; }
.fila_promotoras td:nth-child(n+3) { font-size: 1rem !important; }

.fila, .fila_promotoras { text-align: center; }
.fila td:nth-child(2), .fila_promotoras td:nth-child(2) {  text-align: left; }
.pie td:nth-child(n+2) { text-align: center; }
.pie td:nth-child(1) { text-align: right; }
.pie td {
    background-color: #004080;
    border: 1px solid white !important;
    padding: 0.7rem !important;
    color: white;
}
#tr_pie_ventas.pie td { font-size: 1.2rem !important; }
#tr_pie_ventas_promotoras.pie td { font-size: 1rem !important; }

@media (min-width: 940px) {
    .table-fixed tbody {
      width: 102%;
    }

}

