body, html {
    height: 100%;
    -webkit-overflow-scrolling: touch; /* para mejorar el desplazamiento en iphone */
    margin: 0px;
    padding: 0px;
}

/******* estilos para SKU_FILTROS *****/
.cont_botonera, #table_sku {   visibility: hidden; }

/******** estilos para el .cont_tabs y las tabs **********/
#ul_items {
    border-radius: 0.7em;
    background-color: rgba(25, 80, 219, 0.77);
    padding: 0.5em;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border: 0px !important;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
}
.cont_tabla_full {
    overflow-y: scroll !important;
    flex: 1 1 auto;
    overflow-y: scroll;
}
.cont_items_botonera {
    flex: 0 0 auto;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}
#ul_items li {
    flex: 1 1 auto;
    font-size: 1rem;
    margin-left: 0.2em !important;
    margin-right: 0.2em !important;
}
#ul_items li a {
    color: white;
    font-weight: bold;
    border-radius: 0.5em !important;
    text-align: center;
    padding: 1em;
    margin: 0px;
}
#ul_items>li>a {
    width: 100% !important;
}
#ul_items li a:hover {
    color: rgb(9, 10, 134);
    font-weight: bold;
}
#ul_items>li.active>a, #ul_items>li.active>a:focus, #ul_items>li.active>a:hover {
    background-color: rgba(9, 6, 149, 0.87);
    color: white;
    border: 0px
}
#table_items tr td  {
    font-size: 1.1rem;
    line-height: 2.5em;
    padding-top: 0px;
    padding-bottom: 0px;
}
.fila td:nth-child(2)  { text-align: center; }
.fila td input[type=checkbox], .campos th input[type=checkbox] {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.campos th {
    font-size: 1.1rem;
    line-height: 2em !important;
    padding-bottom: 1em;
}
.campos>th>button {
    padding: 0.2em !important;
}

/****** estilos para el index sku ****/
#div_sku_index {
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem !important;
}
#div_sku_index img {
  /*min-width: 300px;*/
  /*max-width: 50%;*/
  /*min-height: 60%;*/
  height: 40vw;
  flex: 1 1 40vw;
  border-radius: 8rem;
}
#div_sku_index>div {
  flex: 0 0 40%;
  align-items: center;
  justify-content: center;
}
#div_sku_index>div button {
  /* flex: 0 1 90% !important; */
  margin: 0.4em;
  font-size: 1em;
  font-weight: bold;
  width: 18rem !important;
    color: white;
    text-decoration: none;
}

#div_sku_index div button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}
@media (max-width: 768px) {
  #div_sku_index img {
    height: 35vh;
  }
}

/****** ESTILOS PARA SKU_CONSULTAR ********/
#div_cont_sku_consultar {
  height: 100%;
  width: 100%;
}
#div_cont_sku_consultar * {
  font-size: .8rem;
}
#div_cont_sku_consultar>div:nth-child(1) {
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(6, 133, 41, 0.79);
  padding: .1rem !important;
  flex-wrap:  wrap; /*por si hay mas filtros div, en dispositivos pequeños, se puedan desplazar*/
}
#div_cont_sku_consultar>div:nth-child(1)>div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .2rem;
  background-color: rgba(4, 74, 63, 0.85);
  flex: 0 0 auto;
  margin: .1rem !important;
}
#div_cont_sku_consultar>div:nth-child(1)>div> * {
  margin: .3rem;
  font-weight: bold;
}
#div_cont_sku_consultar>div:nth-child(1) span {
  color: white;
}
#div_cont_sku_consultar>div:nth-child(2) {
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
  padding: .2rem 0rem !important;
}
.item_consulta_sku {
  font-weight: bold;
  display: flex;
  margin: .2rem .2rem;
  flex: 1 0 8%;
}
#div_cont_ventas {
  flex: 1 0 12%;
}
#div_cont_detalle {
  flex: 1 1 40%;
  background-color: rgba(6, 133, 41, 0.79);
}
.item_consulta_sku span { /** para que los span alinien al centro su texto **/
  display: flex !important;
  justify-content: center;
  align-items: center !important;
}
.item_consulta_sku>.titulo_fila {
  background-color: rgba(7, 150, 47, 0.84);
  color: white;
  flex: 0 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
}
.item_consulta_sku .reporte_valor {
  background-color: rgb(226, 244, 188);
  flex: 0 1 25%;
  margin-left: 1rem;
  border-radius: .2rem;
  border: 1px solid rgb(20, 143, 36);
  height: 60%;
}
.item_consulta_sku>div:nth-child(2){
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  background-color: rgba(220, 240, 236, 1);
}
.item_consulta_sku>div:nth-child(2)>select {
  flex: 0 0 35%;
  height: 70% !important;
}
#div_cont_ventas>div:nth-child(2)>div>select {
  height: 50% !important;
}
#div_cont_ventas>div:nth-child(2)>div {
  flex: 0 1 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: .2rem;
}
#div_cont_ventas>div:nth-child(2)>div>.reporte_valor {
  flex: 0 1 50%;
}

/****************************************************************/
/*************  ESTILOS PARA EL MENU PRINCIPAL ******************/
/****************************************************************/
#div_sku_menu {
  background-color: rgba(1, 9, 32, 0.795) !important;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}
#div_sku_menu>.cont_titulo {
  margin: 3rem;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  /* font-family: 'Passion One', */
  /* font-family: 'Vollkorn'; */
  text-shadow: 1px 1px 5px #ffffff;
  }
  /* #div_sku_menu>.cont_titulo {

  } */
#div_sku_menu>.cont_logo {
  background-color: white;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  width: 30%;
  text-align: center;
  border: 2px solid white;
}
#div_sku_menu>.cont_logo>img {
  max-height: 4rem;
}
#div_sku_menu>.cont_login {
  /* display: inherit !important; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  flex: 0 1 30%;
  width: 30%;
  background-color: rgba(206, 230, 240, 0.685);
  border: 2px solid white;
}
#div_sku_menu>.cont_login>* {
  width: 70%;
  margin: .4rem;
  font-size: 1.1rem;
  font-weight: bold;
}
::-webkit-input-placeholder { color:#89d5df !important; } /* Chrome/Opera/Safari */
::-moz-placeholder  { color:#89d5df !important; }/* Firefox 19+ */
:-moz-placeholder   { color:#89d5df !important; }/* Firefox 18- */
:-ms-input-placeholder  { color:#89d5df !important; } /* IE 10+ *


/****************************************************************/


/****************************************************************/
/*******************  ESTILOS PARA lAS LISTAS *******************/
/****************************************************************/

#div_sku_listas {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(156, 238, 241, 0.274);
  /* padding: 2rem; */
}
#div_sku_listas>div:nth-child(1) {
  padding: 1rem !important;
  display: flex;
  width: 100%;
  background-color: rgba(8, 90, 117, 0.63);
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
#div_sku_listas>.dtable {
  margin: 2rem;
  flex: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
}

#div_sku_listas .dhead {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  background-color: rgba(31, 55, 160, 0.774);
}

#div_sku_listas .dbody {
  flex: 1 0 auto !important;
  /* height: 80%; */
  /* background-color: white; */
  display: flex;
  flex-direction: column;
}
#div_sku_listas .dhead>div {
  border: 1px solid white;
  color: white;
  padding: .2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
#div_sku_listas .dhead>div:nth-child(1) { width: 5%; }
#div_sku_listas .dhead>div:nth-child(2) { width: 33%; }
#div_sku_listas .dhead>div:nth-child(3) { width: 33%; }
#div_sku_listas .dhead>div:nth-child(4) { width: 33%; }
#div_sku_listas .dhead>div:nth-child(5) { width: 11%; }
#div_sku_listas .dhead>div:nth-child(6) { width: 5%; }

#div_sku_listas .dbody>.dtr {
  display: flex;
  width: 100%;
}
#div_sku_listas .dbody>.dtr>div {
  border: 1px solid rgb(209, 204, 204);
  background-color: white;
  padding: .2rem;
  font-size: .9rem;
  text-align: center;

}
#div_sku_listas .dbody>.dtr>div:nth-child(1) { width: 5%; }
#div_sku_listas .dbody>.dtr>div:nth-child(2) { width: 33%; }
#div_sku_listas .dbody>.dtr>div:nth-child(3) { width: 33%; }
#div_sku_listas .dbody>.dtr>div:nth-child(4) { width: 33%; }
#div_sku_listas .dbody>.dtr>div:nth-child(5) { width: 11%; }
#div_sku_listas .dbody>.dtr>div:nth-child(6) { width: 5%; }

.icon_dtable {
  max-height: 1rem;

}

/****************************************************************/

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  #div_cont_sku_consultar * { font-size: .9rem; }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  #div_cont_sku_consultar * { font-size: 1rem; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #div_cont_sku_consultar * { font-size: 1.1rem; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #div_cont_sku_consultar * { font-size: 1.2rem; }
}