@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Passion+One');
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0px !important;
    margin: 0px !important;
}
.container_row {
  display: flex;
  padding: 0px !important;
  margin: 0px !important;
}
.container_column {
  display: flex;
  flex-direction: column;
  padding: 0px !important;
  margin: 0px !important;
}
.cont_general {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*.cont_opciones {

}*/
.cont_form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5rem;
  border: 1px black;
  justify-content: space-around;
}
.cont_titulo {
    width: 100%;
    padding: 2rem;
    text-align: center;
    color: rgba(5, 55, 116, 0.87);
}
.cont_titulo span {
    font-size: 2rem;
    font-weight: bold;
}
.cont_fila_form {
  margin: 2rem 0rem 2rem 0rem;
}
.cont_titulo_form {
  font-size: 2rem;
  color: #0d4beb;
}

/****** estilos para el filtro de inputs ******/
.cont_contenido {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
    margin: 0.25em;
    color: #0d4beb;
    border-radius: 0.1em;
    flex-grow: 1;
    background-color: #EEEEEE;
    width: 95% !important;
}
.cont_botonera {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(94, 66, 217, 0.21);
    border-radius: 5px;
    width: 95%;
}
.cont_filtro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
}
.cont_filtro input {
    margin-top: 0.5em;
}
.input_filtro {
    font-size: 1rem !important;
    padding: 0.1em !important;
    height: 2em !important;
}
.cont_filtro span {
    font-weight: bold;
    color: #0535b1;
    font-size: 1rem;
}
.cont_filtro img {
    width: 100%;
    max-width: 45px;
    min-width: 35px;
}
.cont_filtro img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-filter: sepia(0.3);
    filter: sepia(0.3);
}
span input[type=checkbox] { margin-right: 0.5em; }

/*************  Estilos para el plugin Datatable *******/
div.dt-buttons {
    float: right !important;
    margin: 0em 0.1em 0em 1em;
}
a.dt-button {
    border: 0px !important;
    padding: 0px !important;
}
.fa-file-excel-o {
    font-size: 30px !important;
    color: blue !important;
}
#div_cargando img {
    margin: 20px;
}
/************ estilos para la tabla com .campos y .fila ******/
.fila {
    font-size: 1rem;
    color: #0f2a7c;
}
.fila td { padding: 0.15rem 0.5rem 0.15rem 0.5rem !important; }
.campos {
    background-color: rgba(13, 38, 112, 0.76);
    color: white;
    font-size: 1rem;
}
.campos th { text-align: center; }


/***** STYLES PARA LOS TRF ****/
#div_trf {
  display: flex;
  justify-content: center;
}
#div_trf>div{
  width: 50%;
}
#div_trf .cont_titulo_form {
  text-align: center;
  font-weight: bold;
  
}
.cont_menu_body {
    border-radius:.5rem;
    padding: 1rem;
}
.cont_menu_body .btn {
    margin: .5rem;    
}
.cont_menu_body .btn:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-filter: sepia(0.3);
    filter: sepia(0.3);
}

/**** ESTILOS AGREGADOS CUANDO SE INDEPENDIZO SKU ****/
.modal_loading_full {
    padding-top: 10rem;
    position: absolute !important;    
    height: 100% !important;
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.397) !important;
    display: flex !important;
    justify-content: center; 
    z-index: 11 !important;   
}
.modal_loading_full img {
    height: 8rem;
    width: 8rem;
}
.cont_hidden {
    display: none !important;
}

