.cont_multiples_opciones {
  display: inlin-block;
  width: 20rem;
  /*width: 20%;*/
  margin: 2em;
  font-size: 0.8em;
  /*position: relative;*/
}

.cont_sel_boton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.3em 0.7em;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  align-items: center;
  margin-bottom: 0.1em;
  background-color: rgba(77, 11, 150, 0.66);
  color: white;
}
.cont_sel_boton:hover {
  cursor: pointer;
}
.collapse, .collapsing  {
  width: 20rem;
  background-color: white;
  position: absolute;
}
/*.collapse.show { por ahora no es necesario }*/

.cont_sel_opcion {
  display: flex;
  justify-content: space-between;
}
.cont_familia {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.3em 0.3em 0em 0.3em;
  margin-right: 0.2em;
  background-color: rgba(77, 11, 150, 0.26);
  border-bottom: 1px solid white;
}
.cont_tallas {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex: 1 1 auto;
  padding: 0.3em 0.3em 0em 0.3em;
  border-bottom: 1px solid #c8c4be;
  border-right: 1px solid #c8c4be;
  color: gray;

}
