body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
}
.btn:hover {
  cursor: pointer;
}
.modal_alert_confirm {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: rgba(2, 33, 65, 0.81);
  height: 100%;
  width: 100%;
  top: 0;
}
.content_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 30rem;
  height: 10rem;
  margin-top: 10rem;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(2, 33, 65, 0.81), 0.2rem 0.2rem 0.3rem rgb(187, 238, 228);
}
.header_modal {
  background-color: rgb(111, 236, 162);
  color: rgb(1, 38, 11);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
.header_modal>span {
  /*margin: 0.5rem;*/
  font-size: 1rem;
}
.body_modal {
  flex: 1 1 auto;
  padding: 1rem;
  background-color: rgb(223, 240, 229);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.close_modal {
  display: flex;
  justify-content: flex-end;
}
